@layer base {
	@font-face {
		font-family: 'Monaspace Neon';
		src: url(/MonaspaceNeon-VF.woff2) format(woff2);
	}

	@font-face {
		font-family: 'FiraCode';
		src: url(/FiraCode-VF.woff2) format(woff2);
	}

	@font-face {
		font-family: 'JetBrainsMono';
		src: url(/JetBrainsMono-Regular.woff2) format(woff2);
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
